* {
  box-sizing: border-box;
  /* overflow: hidden; */
}

.App {
  text-align: center;
  padding-top: 20px;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0px;
  margin: 20px;
  width: 100%;
  background-color: #e9e9eb;
  z-index: 1;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.form__input {
  flex: 1;
}

.form__inputButton {
  flex: 0;
}
